In [4]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv('Moviedata.csv')

In [6]:
data.head(3)

,Unnamed: 0,Movie_id,title,Genres,release_date,Keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count
0,0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,245066411,93.552,8.7,16814
1,1,278,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,28341469,78.664,8.7,22542
2,2,240,The Godfather Part II,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1974-12-20,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,102600000,102600000,55.752,8.6,10187

In [7]:
data.isna().sum()

Unnamed: 0      0
Movie_id        0
title           0
Genres          0
release_date    0
Keywords        0
overview        6
poster_path     0
Budget          0
Revenue         0
popularity      0
vote_average    0
vote_count      0
dtype: int64

In [8]:
#useful columns - movie_id,title,Genres,Keywords,overview
data=data[['Movie_id','title','Genres','Keywords','overview']]
data.head(4)

,Movie_id,title,Genres,Keywords,overview
0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o..."
1,278,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...
2,240,The Godfather Part II,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...
3,19404,Dilwale Dulhania Le Jayenge,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[],"Raj is a rich, carefree, happy-go-lucky second..."

In [9]:
data.isna().sum()
data.dropna(inplace=True)

In [10]:
data.isna().sum()

Movie_id    0
title       0
Genres      0
Keywords    0
overview    0
dtype: int64

In [11]:
data.duplicated().sum()

0

In [12]:
data.iloc[0].Genres
data.iloc[0].Keywords

"[{'id': 131, 'name': 'italy'}, {'id': 697, 'name': 'loss of loved one'}, {'id': 699, 'name': 'love at first sight'}, {'id': 818, 'name': 'based on novel or book'}, {'id': 1295, 'name': 'europe'}, {'id': 1715, 'name': 'symbolism'}, {'id': 4677, 'name': 'patriarch'}, {'id': 10291, 'name': 'organized crime'}, {'id': 10391, 'name': 'mafia'}, {'id': 10909, 'name': 'lawyer'}, {'id': 11001, 'name': 'religion'}, {'id': 15095, 'name': 'revenge motive'}, {'id': 33421, 'name': 'crime family'}, {'id': 155538, 'name': 'sicilian mafia'}, {'id': 156043, 'name': 'religious hypocrisy'}, {'id': 163656, 'name': 'gun violence'}, {'id': 165725, 'name': 'rise to power'}, {'id': 180173, 'name': 'dead horse'}, {'id': 181858, 'name': 'gang violence'}, {'id': 207883, 'name': '1940s'}, {'id': 208611, 'name': '1950s'}, {'id': 257630, 'name': 'mafia war'}, {'id': 295351, 'name': 'part of trilogy'}]"

In [13]:
#formating columns genres and keywords to useful format using library ast - literal_eval() function
import ast

In [14]:
def formatting(obj):
    arr=[]
    for i in ast.literal_eval(obj):
        arr.append(i['name'])
    return arr

In [15]:
data['Genres']=data['Genres'].apply(formatting)

In [16]:
data['Keywords']=data['Keywords'].apply(formatting)

In [17]:
data.head(4)

,Movie_id,title,Genres,Keywords,overview
0,238,The Godfather,"[Drama, Crime]","[italy, loss of loved one, love at first sight...","Spanning the years 1945 to 1955, a chronicle o..."
1,278,The Shawshank Redemption,"[Drama, Crime]","[prison, corruption, police brutality, based o...",Framed in the 1940s for the double murder of h...
2,240,The Godfather Part II,"[Drama, Crime]","[italy, italian american, cuba, symbolism, gan...",In the continuing saga of the Corleone crime f...
3,19404,Dilwale Dulhania Le Jayenge,"[Comedy, Drama, Romance]",[],"Raj is a rich, carefree, happy-go-lucky second..."

In [18]:
#converting overview to list
data['overview']=data['overview'].apply(lambda x: x.split())

In [19]:
data.head(4)

,Movie_id,title,Genres,Keywords,overview
0,238,The Godfather,"[Drama, Crime]","[italy, loss of loved one, love at first sight...","[Spanning, the, years, 1945, to, 1955,, a, chr..."
1,278,The Shawshank Redemption,"[Drama, Crime]","[prison, corruption, police brutality, based o...","[Framed, in, the, 1940s, for, the, double, mur..."
2,240,The Godfather Part II,"[Drama, Crime]","[italy, italian american, cuba, symbolism, gan...","[In, the, continuing, saga, of, the, Corleone,..."
3,19404,Dilwale Dulhania Le Jayenge,"[Comedy, Drama, Romance]",[],"[Raj, is, a, rich,, carefree,, happy-go-lucky,..."

In [20]:
data['Genres']=data['Genres'].apply(lambda x: [i.replace(" ","") for i in x])
data['Keywords']=data['Keywords'].apply(lambda x: [i.replace(" ","") for i in x])

In [21]:
data.head(5)

,Movie_id,title,Genres,Keywords,overview
0,238,The Godfather,"[Drama, Crime]","[italy, lossoflovedone, loveatfirstsight, base...","[Spanning, the, years, 1945, to, 1955,, a, chr..."
1,278,The Shawshank Redemption,"[Drama, Crime]","[prison, corruption, policebrutality, basedonn...","[Framed, in, the, 1940s, for, the, double, mur..."
2,240,The Godfather Part II,"[Drama, Crime]","[italy, italianamerican, cuba, symbolism, gang...","[In, the, continuing, saga, of, the, Corleone,..."
3,19404,Dilwale Dulhania Le Jayenge,"[Comedy, Drama, Romance]",[],"[Raj, is, a, rich,, carefree,, happy-go-lucky,..."
4,424,Schindler's List,"[Drama, History, War]","[basedonnovelorbook, factory, concentrationcam...","[The, true, story, of, how, businessman, Oskar..."

In [22]:
data['tag']=data['overview']+data['Genres']+data['Keywords']

In [23]:
data.head(3)

,Movie_id,title,Genres,Keywords,overview,tag
0,238,The Godfather,"[Drama, Crime]","[italy, lossoflovedone, loveatfirstsight, base...","[Spanning, the, years, 1945, to, 1955,, a, chr...","[Spanning, the, years, 1945, to, 1955,, a, chr..."
1,278,The Shawshank Redemption,"[Drama, Crime]","[prison, corruption, policebrutality, basedonn...","[Framed, in, the, 1940s, for, the, double, mur...","[Framed, in, the, 1940s, for, the, double, mur..."
2,240,The Godfather Part II,"[Drama, Crime]","[italy, italianamerican, cuba, symbolism, gang...","[In, the, continuing, saga, of, the, Corleone,...","[In, the, continuing, saga, of, the, Corleone,..."

In [24]:
data=data[['Movie_id','title','tag']]

In [25]:
data.head(4)

,Movie_id,title,tag
0,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr..."
1,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur..."
2,240,The Godfather Part II,"[In, the, continuing, saga, of, the, Corleone,..."
3,19404,Dilwale Dulhania Le Jayenge,"[Raj, is, a, rich,, carefree,, happy-go-lucky,..."

In [26]:
#converting tag column to string
data['tag']=data['tag'].apply(lambda x: " ".join(x))

In [27]:
data['tag']=data['tag'].apply(lambda x: x.lower())

In [28]:
#steming words in tag column
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [29]:
def stem(text):
    arr=[]
    for i in text.split():
        arr.append(ps.stem(i))

    return " ".join(arr)

In [30]:
data['tag']=data['tag'].apply(stem)

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000, stop_words='english')

In [32]:
vectors=cv.fit_transform(data['tag']).toarray()

In [33]:
cv.get_feature_names_out()

array(['000', '10', '100', ..., 'zombies', 'zone', 'zoo'], dtype=object)

In [34]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

In [35]:
similarity[1]
#a similarity matirx of 9974x9974 of cosine distnaces

array([0.26024002, 1.        , 0.0808122 , ..., 0.19069252, 0.24359938,
       0.02672612])

In [36]:
data[data['title'] == 'The Lego Movie'].index[0]

1664

In [37]:
def recommendation(movie):
    movie_index=data[data['title']==movie].index[0]
    distances = sorted(list(enumerate(similarity[movie_index])),reverse=True,key = lambda x: x[1])

    for i in distances[1:6]:
        print(data.iloc[i[0]].title)

In [38]:
recommendation("The Lion King")

The Northman
Hamlet
Pain and Glory
Mektoub, My Love: Canto Uno
My Father and My Son

In [39]:
import pickle

In [40]:
pickle.dump(data.to_dict(), open("movie_dict.pkl",'wb'))

In [42]:
pickle.dump(similarity, open("similarity.pkl", 'wb'))